

.circle {
    width: 50px;
    height: 50px;
    background-color: #fde285;
    border-radius: 50%;
    position: absolute;
    animation: anim 7s linear infinite;
}

.circle1 {
    width: 90px;
    height: 90px;
    background-color: #fccd31;
    border-radius: 50%;
    position: absolute;
    animation: anim1 7s linear infinite;
}

@keyframes anim {
    0% {
        top: 0;
        left: 0;
    }
    30% {
        top: 40px;
        left: 40px;
    }
    40%{
        top: 60px;
        left: 60px;
    }
    50% {
        top: 80px;
        left: 80px;
    }
    60% {
        top: 90px;
        left: 90px;
    }
    70% {
        top: 80px;
        left: 80px;
    }
    80% {
        top: 60px;
        left: 60px;
    }
    90% {
        top: 40px;
        left: 40px;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes anim1 {
    0% {
        top: 160px;
        left: 0px;
    }
    30% {
        top: 120px;
        left: 40px;
    }
    40%{
        top: 90px;
        left: 60px;
    }
    50% {
        top: 80px;
        left: 80px;
    }
    60% {
        top: 70px;
        left: 60px;
    }
    70% {
        top: 90px;
        left: 40px;
    }
    80% {
        top: 120px;
        left: 30px;
    }
    100% {
        top: 160px;
        left: 0;
    }
}