@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global padding ======================================== */
.global-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

.vision-container {
    max-width: 1280px;
    margin: 0 auto;
}
/* Global padding ======================================== */

/* Navbar start ========================================== */

.nav{
    background-color: #fff;
    width: 100%;
    z-index: 9;
    height: 70px;
    transition: height .3s ease;
    display: flex;
}

.shrink {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    box-shadow: rgba(156, 159, 161, 0.8) 0px 8px 24px;
}

nav{
    display: flex;
    list-style: none;
    justify-self: center;
}

nav a{
    text-decoration: none;
    cursor: pointer;
    color: #0D0D0D;
    user-select: none;
}

nav a.active{
    font-weight: 800;
    color: #0641b8;
}

.nav_font{
    color: #0D0D0D;
    user-select: none;
}

.nav_font:hover{
    color: #7B95C9;
}

@media screen and (max-width: 900px) {
    .nav{
        height: 60px;
        box-shadow: rgba(156, 159, 161, 0.8) 0px 8px 24px;
    }

    nav{
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        z-index: 99;
    }

    nav.active {
        transform: translateX(0);
    }

    nav .nav-hamburger-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


/* Navbar end ========================================== */

.cut_top {
    clip-path: polygon(0 0, 25% 0, 38% 100%, 0% 100%);
}


.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}